*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Assets */

.back-container{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px;

    width: 600px;
    min-height: 100vh;
    margin: auto;

    background-image: url(../Img/back.jpg);
    background-size: cover;

    box-shadow: 10px 10px 30px black;
}

.paper{
    position: relative;

    width: 200px;

    padding: 40px 20px;

    background-image: url(../img/paper.jpg);
    background-size: cover;

    border-radius: 10px;

    font-family: 'Mynerve', cursive;

    transform: rotate(-4deg);

    box-shadow: 2px 2px 10px black;
}

#shopList{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nail{
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);

    width: 8px;
    height: 8px;

    border-radius: 50%;

    background-color: black;

    box-shadow: -2px 2px 5px black;
}

.item{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.done{
    text-decoration: line-through;
}

#x-mark{
    color: #d90429;
}
